<div class="max-w-4xl mx-auto p-6">
  <div class="text-sm breadcrumbs mb-6">
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/order">Courses</a></li>
      <li>{{ course()?.title }}</li>
    </ul>
  </div>

  @if (loading()) {
    <div class="text-center">
      <span class="loading loading-dots loading-lg"></span>
    </div>
  } @else if (error()) {
    <p>Something went wrong</p>
    <p class="text-red-500">{{ error() }}</p>
  } @else {
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-8">
      <img
        [src]="course()?.image"
        [alt]="course()?.title"
        class="w-full object-contain max-h-64 rounded-xl"
      />

      <div class="flex flex-col gap-4">
        <h1 class="text-2xl font-medium leading-snug">{{ course()?.title }}</h1>

        <div class="flex items-center gap-2">
          <div class="avatar avatar-placeholder">
            <div class="bg-neutral text-neutral-content w-8 rounded-full">
              <span class="text-sm font-medium">{{
                course()?.instructor | slice: 0 : 2 | uppercase
              }}</span>
            </div>
          </div>

          <span>{{ course()?.instructor }}</span>
        </div>

        <div class="flex items-baseline gap-2">
          <span class="text-3xl font-medium">{{ course()?.price | currency: 'EUR' }}</span>
        </div>

        <div class="flex items-center gap-2 text-sm">
          @if (course()?.seats === 0) {
            <span class="badge badge-error">Course Full</span>
          } @else if (course()?.seats! <= 2) {
            <span class="badge badge-warning">{{ course()?.seats }} seats left — Almost Full!</span>
          } @else {
            <span class="badge badge-success">{{ course()?.seats }} seats available</span>
          }
        </div>
      </div>

      <div class="md:col-span-2 flex justify-end gap-4">
        <a
          [routerLink]="['/course', course()?.id, 'edit']"
          class="btn btn-warning flex items-center gap-2"
          [class.btn-disabled]="loading()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
            />
          </svg>
          Edit Course
        </a>

        <button
          class="btn btn-error flex items-center gap-2"
          (click)="openDeleteModal()"
          [disabled]="loading()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
            />
          </svg>
          Delete Course
        </button>
      </div>
    </div>
  }
</div>

<dialog id="my_modal_1" #deleteModal class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Delete Course!</h3>
    <p class="py-4">Are you sure you want to delete this course ({{ course()?.title }})?</p>

    <div class="modal-action space-x-2">
      <form method="dialog">
        <button class="btn btn-outline max-sm:p-3 text-xs sm:text-sm">Close</button>
      </form>
      <button
        class="btn btn-outline btn-error"
        (click)="deleteCourse(course()!.id)"
        [disabled]="loading()"
      >
        Delete Course
      </button>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
